#navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 35px;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    z-index: 111;
    width: 100%;
    background-color: #fff;
}

#tit {
    margin: 0;
    font-size: 18px;
    flex: 1 1 auto;
    color: #943434;
}

.a-in-navbar {
    color: #212529;
    text-decoration: none;
    font-size: 18px;
    transition: all 400ms ease;
}

.a-in-navbar:hover {
    color: #943434;
}

#main-image {
    margin-top: 80px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-image img {
    height: 100%;
}

#div-main-p {
    margin: 70px 20px 90px 20px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#div-main-p > * {
    width: 800px;
    max-width: 100%;
    text-align: justify;
    font-weight: 400;
}

#main-p {
}

#remember {
    color: #943434;
    font-size: 18px;
    margin-bottom: 10px;
}

form {
    background-color: #943434;
    padding: 130px 0;
    gap: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form p {
    color: #d1b972;
    font-size: 26px;
}

form div {
    width: 600px;
}

#end {
    height: 100px;
}